In [1]:
import pandas as pd


full_data = pd.read_excel(r"D:\Downloads\DSTC v√≤ng 2\raw data\UPCOMINDEX.xlsx")
full_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 571329 entries, 0 to 571328
Data columns (total 13 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  571329 non-null  int64
 1   ticker      571329 non-null  object
 2   timestamp   571329 non-null  object
 3   open        571329 non-null  float64
 4   high        571329 non-null  float64
 5   low         571329 non-null  float64
 6   close       571329 non-null  float64
 7   volume      571329 non-null  int64
 8   bu          0 non-null       float64
 9   sd          0 non-null       float64
 10  fn          0 non-null       float64
 11  fb          0 non-null       float64
 12  fs          0 non-null       float64
dtypes: float64(9), int64(2), object(2)
memory usage: 56.7+ MB

In [2]:
from FiinQuantX import FiinSession
import pandas as pd
username = 'DSTC_28@fiinquant.vn'
password = 'Fiinquant0606'

client = FiinSession(username=username, password=password).login()
fi = client.FiinIndicator()

In [16]:
full_data = full_data.drop(["bu", "sd", "fn", "fb", "fs"], axis = 1)
full_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 571329 entries, 0 to 571328
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  571329 non-null  int64
 1   ticker      571329 non-null  object
 2   timestamp   571329 non-null  object
 3   open        571329 non-null  float64
 4   high        571329 non-null  float64
 5   low         571329 non-null  float64
 6   close       571329 non-null  float64
 7   volume      571329 non-null  int64
dtypes: float64(4), int64(2), object(2)
memory usage: 34.9+ MB

In [17]:
counts = full_data.groupby("ticker").size()
counts.describe()

count    889.000000
mean     642.664792
std       90.774868
min        6.000000
25%      662.000000
50%      662.000000
75%      662.000000
max      662.000000
dtype: float64

In [18]:
list_keep = counts[counts == 662].index
list_keep.size

776

In [19]:
df = full_data[full_data['ticker'].isin(list_keep)].reset_index()
df = df.drop("Unnamed: 0", axis = 1)
df = df.drop("index", axis = 1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 513712 entries, 0 to 513711
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   ticker     513712 non-null  object
 1   timestamp  513712 non-null  object
 2   open       513712 non-null  float64
 3   high       513712 non-null  float64
 4   low        513712 non-null  float64
 5   close      513712 non-null  float64
 6   volume     513712 non-null  int64
dtypes: float64(4), int64(1), object(2)
memory usage: 27.4+ MB

In [20]:
df.head()

  ticker         timestamp      open      high       low       close  volume
0    VVS  2023-01-03 00:00  19085.22  19085.22  19085.22  19085.2200     100
1    VVS  2023-01-04 00:00  19278.00  19278.00  19278.00  19278.0000    1200
2    VVS  2023-01-05 00:00  19663.56  20145.51  19663.56  19877.5458    2700
3    VVS  2023-01-06 00:00  20723.85  21205.80  17639.37  20705.5359    3100
4    VVS  2023-01-09 00:00  20241.90  21013.02  18121.32  20458.7775    5700

In [21]:
df.tail()

       ticker         timestamp     open     high      low    close  volume
513707    YTC  2025-08-25 00:00  35400.0  35400.0  35400.0  35400.0       0
513708    YTC  2025-08-26 00:00  35400.0  35400.0  35400.0  35400.0       0
513709    YTC  2025-08-27 00:00  35400.0  35400.0  35400.0  35400.0       0
513710    YTC  2025-08-28 00:00  35400.0  35400.0  35400.0  35400.0       0
513711    YTC  2025-08-29 00:00  35400.0  35400.0  35400.0  35400.0       0

In [31]:
tickers_with_zero = df.loc[df['volume'] == 0, 'ticker'].unique()
print(tickers_with_zero.size)

726

In [33]:
df_clean = df[~df['ticker'].isin(tickers_with_zero)].copy()
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 33100 entries, 662 to 496499
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ticker     33100 non-null  object
 1   timestamp  33100 non-null  object
 2   open       33100 non-null  float64
 3   high       33100 non-null  float64
 4   low        33100 non-null  float64
 5   close      33100 non-null  float64
 6   volume     33100 non-null  int64
dtypes: float64(4), int64(1), object(2)
memory usage: 2.0+ MB

In [34]:
print(df_clean['ticker'].unique())

['HSV' 'SSH' 'BCA' 'BIG' 'ODE' 'ABB' 'ACV' 'AFX' 'VLB' 'BMS' 'CLX' 'C4G'
 'SGP' 'DRI' 'DDV' 'BVB' 'AAS' 'HD6' 'ILA' 'KLB' 'AMS' 'MPC' 'MCH' 'MSR'
 'HND' 'NED' 'PAS' 'CSI' 'PDV' 'PFL' 'EIN' 'PPH' 'OIL' 'PXL' 'QNS' 'QTP'
 'VNB' 'SBS' 'G36' 'TIS' 'TTN' 'PAT' 'VEA' 'VHG' 'VTD' 'VLC' 'VGT' 'DVN'
 'TVN' 'VGI']

In [ ]:
df_clean = df_clean.reset_index()
df_clean = df_clean.drop("index", axis =1)

    level_0 ticker         timestamp    open    high     low   close  volume
0         0    HSV  2023-01-03 00:00  3600.0  3700.0  3600.0  3621.0    1900
1         1    HSV  2023-01-04 00:00  3600.0  3700.0  3600.0  3601.0    8300
2         2    HSV  2023-01-05 00:00  3600.0  3700.0  3500.0  3561.0    4900
3         3    HSV  2023-01-06 00:00  3600.0  3600.0  3600.0  3600.0    1900
4         4    HSV  2023-01-09 00:00  3700.0  3700.0  3500.0  3595.0    7400
5         5    HSV  2023-01-10 00:00  3700.0  3700.0  3600.0  3620.0    1000
6         6    HSV  2023-01-11 00:00  3700.0  3700.0  3600.0  3687.0    3000
7         7    HSV  2023-01-12 00:00  3700.0  3800.0  3600.0  3695.0    2100
8         8    HSV  2023-01-13 00:00  3700.0  3800.0  3600.0  3692.0   10300
9         9    HSV  2023-01-16 00:00  3700.0  3800.0  3700.0  3783.0    3600
10       10    HSV  2023-01-17 00:00  3800.0  3800.0  3700.0  3791.0   16500
11       11    HSV  2023-01-18 00:00  3800.0  3900.0  3800.0  3853.0    4000
12       12    HSV  2023-01-19 00:00  3800.0  3900.0  3800.0  3828.0    4600
13       13    HSV  2023-01-27 00:00  3800.0  4100.0  3800.0  3952.0   10000
14       14    HSV  2023-01-30 00:00  4000.0  4000.0  3900.0  3952.0    4400
15       15    HSV  2023-01-31 00:00  4000.0  4100.0  3900.0  3981.0    8800
16       16    HSV  2023-02-01 00:00  4100.0  4100.0  4000.0  4048.0    7300
17       17    HSV  2023-02-02 00:00  4000.0  4000.0  3800.0  3873.0    3300
18       18    HSV  2023-02-03 00:00  3900.0  4000.0  3800.0  3908.0    6200
19       19    HSV  2023-02-06 00:00  3900.0  4000.0  3800.0  3900.0   11600

In [40]:
df_clean = df_clean.drop("level_0", axis = 1)
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33100 entries, 0 to 33099
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ticker     33100 non-null  object
 1   timestamp  33100 non-null  object
 2   open       33100 non-null  float64
 3   high       33100 non-null  float64
 4   low        33100 non-null  float64
 5   close      33100 non-null  float64
 6   volume     33100 non-null  int64
dtypes: float64(4), int64(1), object(2)
memory usage: 1.8+ MB

In [46]:
df_clean.tail(20)

,ticker,timestamp,open,high,low,close,volume,is_trading
33080,VGI,2025-08-04 00:00,72800.0,73900.0,72700.0,73100.0,395700,1
33081,VGI,2025-08-05 00:00,73100.0,73600.0,72100.0,72961.0,1180100,1
33082,VGI,2025-08-06 00:00,73100.0,76900.0,72800.0,75436.0,1936700,1
33083,VGI,2025-08-07 00:00,76800.0,77900.0,75700.0,76555.0,1082900,1
33084,VGI,2025-08-08 00:00,76200.0,84500.0,76200.0,80078.0,3729300,1
33085,VGI,2025-08-11 00:00,81600.0,83800.0,80100.0,81462.0,1174800,1
33086,VGI,2025-08-12 00:00,81200.0,82500.0,78500.0,79916.0,1632200,1
33087,VGI,2025-08-13 00:00,81000.0,83000.0,79100.0,81004.0,1761500,1
33088,VGI,2025-08-14 00:00,82000.0,82500.0,80100.0,80676.0,794100,1
33089,VGI,2025-08-15 00:00,80800.0,81200.0,77000.0,79214.0,1524300,1
33090,VGI,2025-08-18 00:00,79200.0,79800.0,77200.0,77835.0,992300,1
33091,VGI,2025-08-19 00:00,77200.0,79000.0,76400.0,77229.0,1057600,1
33092,VGI,2025-08-20 00:00,77900.0,78000.0,73500.0,75576.0,883600,1
33093,VGI,2025-08-21 00:00,75100.0,75500.0,73500.0,73978.0,755200,1
33094,VGI,2025-08-22 00:00,74000.0,75500.0,72700.0,73727.0,688700,1
33095,VGI,2025-08-25 00:00,78000.0,78000.0,72800.0,73373.0,285700,1
33096,VGI,2025-08-26 00:00,73400.0,74200.0,72800.0,73381.0,379700,1
33097,VGI,2025-08-27 00:00,73900.0,75300.0,73900.0,74732.0,324400,1
33098,VGI,2025-08-28 00:00,75000.0,75700.0,74200.0,74680.0,203700,1
33099,VGI,2025-08-29 00:00,74700.0,75400.0,73000.0,74305.0,454900,1

In [72]:
import numpy as np

df_clean['is_trading'] = (df_clean['volume'] > 0).astype(int)
df_trading = df_clean[df_clean['is_trading'] == 1].copy()




# print(df_trading.info())
# df_trading.head()

# df_trading['ema_50'] = fi.ema(df_trading['close'], window = 50)
# df_trading['ema_200'] = fi.ema(df_trading['close'], window = 200)
# df_trading['macd'] = fi.macd(df_trading['close'], window_fast=12, window_slow=26)
# df_trading['macd_signal'] = fi.macd_signal(df_trading['close'], window_fast=12, window_slow=26, window_sign=9)
# df_trading['macd_diff'] = fi.macd_diff(df_trading['close'], window_fast=12, window_slow=26, window_sign=9)
# df_trading['adx'] = fi.adx(df_trading['high'], df_trading['low'], df_trading['close'], window=14)
# df_trading['adx_neg'] = fi.adx_neg(df_trading['high'], df_trading['low'], df_trading['close'], window=14)
# df_trading['adx_pos'] = fi.adx_pos(df_trading['high'], df_trading['low'], df_trading['close'], window=14)
# df_trading['rsi'] = fi.rsi(df['close'], window=14)
# df_trading['bollinger_hband'] = fi.bollinger_hband(df_trading['close'], window=20, window_dev=2)
# df_trading['bollinger_lband'] = fi.bollinger_lband(df_trading['close'], window=20, window_dev=2)
# df_trading['mfi'] = fi.mfi(df_trading['high'], df_trading['low'], df['close'], df['volume'], window=14)

# df_trading.info()

tickers = df_trading['ticker'].unique()
all_dfs = []

    
for t in tickers:
    df_t = df_trading[df_trading['ticker'] == t].copy()

    df_t['ema_50'] = fi.ema(df_t['close'], window=50)
    df_t['ema_200'] = fi.ema(df_t['close'], window=200)
    df_t['macd'] = fi.macd(df_t['close'], window_fast=12, window_slow=26)
    df_t['macd_signal'] = fi.macd_signal(df_t['close'], window_fast=12, window_slow=26, window_sign=9)
    df_t['macd_diff'] = fi.macd_diff(df_t['close'], window_fast=12, window_slow=26, window_sign=9)
    df_t['rsi'] = fi.rsi(df_t['close'], window=14) 
    df_t['bollinger_hband'] = fi.bollinger_hband(df_t['close'], window=20, window_dev=2)
    df_t['bollinger_lband'] = fi.bollinger_lband(df_t['close'], window=20, window_dev=2)
    df_t['mfi'] = fi.mfi(df_t['high'], df_t['low'], df_t['close'], df_t['volume'], window=14) 

    df_t['ema_200'] = np.where(df_t['ema_200'].isna(), df_t['ema_50'], df_t['ema_200'])

    all_dfs.append(df_t)



df_indicators = pd.concat(all_dfs, ignore_index=True)

print(df_indicators.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33100 entries, 0 to 33099
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ticker           33100 non-null  object
 1   timestamp        33100 non-null  object
 2   open             33100 non-null  float64
 3   high             33100 non-null  float64
 4   low              33100 non-null  float64
 5   close            33100 non-null  float64
 6   volume           33100 non-null  int64
 7   is_trading       33100 non-null  int64
 8   ema_50           30650 non-null  float64
 9   ema_200          30650 non-null  float64
 10  macd             31850 non-null  float64
 11  macd_signal      31450 non-null  float64
 12  macd_diff        31450 non-null  float64
 13  rsi              32450 non-null  float64
 14  bollinger_hband  32150 non-null  float64
 15  bollinger_lband  32150 non-null  float64
 16  mfi              32442 non-null  object
dtypes: float64(12), int64(2), object(3)
memory usage: 4.3+ MB
None

In [74]:
# df_trading = df_trading.drop("is_trading" , axis =1)
df_indicators.head(20)

,ticker,timestamp,open,high,low,close,volume,is_trading,ema_50,ema_200,macd,macd_signal,macd_diff,rsi,bollinger_hband,bollinger_lband,mfi
0,HSV,2023-01-03 00:00,3600.0,3700.0,3600.0,3621.0,1900,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,HSV,2023-01-04 00:00,3600.0,3700.0,3600.0,3601.0,8300,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,HSV,2023-01-05 00:00,3600.0,3700.0,3500.0,3561.0,4900,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,HSV,2023-01-06 00:00,3600.0,3600.0,3600.0,3600.0,1900,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,HSV,2023-01-09 00:00,3700.0,3700.0,3500.0,3595.0,7400,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,HSV,2023-01-10 00:00,3700.0,3700.0,3600.0,3620.0,1000,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,HSV,2023-01-11 00:00,3700.0,3700.0,3600.0,3687.0,3000,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,HSV,2023-01-12 00:00,3700.0,3800.0,3600.0,3695.0,2100,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,HSV,2023-01-13 00:00,3700.0,3800.0,3600.0,3692.0,10300,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,HSV,2023-01-16 00:00,3700.0,3800.0,3700.0,3783.0,3600,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,HSV,2023-01-17 00:00,3800.0,3800.0,3700.0,3791.0,16500,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,HSV,2023-01-18 00:00,3800.0,3900.0,3800.0,3853.0,4000,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,HSV,2023-01-19 00:00,3800.0,3900.0,3800.0,3828.0,4600,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,HSV,2023-01-27 00:00,3800.0,4100.0,3800.0,3952.0,10000,1,NaN,NaN,NaN,NaN,NaN,85.949440,NaN,NaN,55.115799
14,HSV,2023-01-30 00:00,4000.0,4000.0,3900.0,3952.0,4400,1,NaN,NaN,NaN,NaN,NaN,85.949440,NaN,NaN,55.115799
15,HSV,2023-01-31 00:00,4000.0,4100.0,3900.0,3981.0,8800,1,NaN,NaN,NaN,NaN,NaN,87.084477,NaN,NaN,66.101826
16,HSV,2023-02-01 00:00,4100.0,4100.0,4000.0,4048.0,7300,1,NaN,NaN,NaN,NaN,NaN,89.245951,NaN,NaN,73.153098
17,HSV,2023-02-02 00:00,4000.0,4000.0,3800.0,3873.0,3300,1,NaN,NaN,NaN,NaN,NaN,60.680768,NaN,NaN,69.564
18,HSV,2023-02-03 00:00,3900.0,4000.0,3800.0,3908.0,6200,1,NaN,NaN,NaN,NaN,NaN,63.216570,NaN,NaN,77.902928
19,HSV,2023-02-06 00:00,3900.0,4000.0,3800.0,3900.0,11600,1,NaN,NaN,NaN,NaN,NaN,62.228683,4073.543153,3480.556847,67.663416

In [76]:
df_cleaned = df_indicators.dropna(how = 'any').copy().reset_index()
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30642 entries, 0 to 30641
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            30642 non-null  int64
 1   ticker           30642 non-null  object
 2   timestamp        30642 non-null  object
 3   open             30642 non-null  float64
 4   high             30642 non-null  float64
 5   low              30642 non-null  float64
 6   close            30642 non-null  float64
 7   volume           30642 non-null  int64
 8   is_trading       30642 non-null  int64
 9   ema_50           30642 non-null  float64
 10  ema_200          30642 non-null  float64
 11  macd             30642 non-null  float64
 12  macd_signal      30642 non-null  float64
 13  macd_diff        30642 non-null  float64
 14  rsi              30642 non-null  float64
 15  bollinger_hband  30642 non-null  float64
 16  bollinger_lband  30642 non-null  float64
 17  mfi              30642 non-null  object
dtypes: float64(12), int64(3), object(3)
memory usage: 4.2+ MB

In [78]:
df_cleaned = df_cleaned.drop("index", axis =1)
df_cleaned.head()

,ticker,timestamp,open,high,low,close,volume,is_trading,ema_50,ema_200,macd,macd_signal,macd_diff,rsi,bollinger_hband,bollinger_lband,mfi
0,HSV,2023-03-20 00:00,3900.0,3900.0,3600.0,3683.0,2900,1,3857.529445,3857.529445,-27.076678,-0.090523,-26.986155,41.638437,4108.251156,3729.748844,13.313572
1,HSV,2023-03-21 00:00,3900.0,3900.0,3600.0,3657.0,700,1,3849.665545,3849.665545,-41.288277,-8.330074,-32.958203,40.769994,4117.617967,3685.282033,11.44729
2,HSV,2023-03-22 00:00,3600.0,3900.0,3600.0,3760.0,1500,1,3846.149249,3846.149249,-43.735675,-15.411194,-28.324481,45.609676,4107.784062,3670.315938,18.483284
3,HSV,2023-03-23 00:00,3800.0,3800.0,3600.0,3709.0,1100,1,3840.770847,3840.770847,-49.223116,-22.173578,-27.049537,43.705409,4106.046074,3646.953926,16.952855
4,HSV,2023-03-24 00:00,3800.0,3800.0,3700.0,3775.0,400,1,3838.191598,3838.191598,-47.696488,-27.278160,-20.418328,46.800928,4079.517462,3644.982538,17.227938

In [79]:
df_cleaned = df_cleaned.drop("is_trading", axis =1)
df_cleaned.head()

,ticker,timestamp,open,high,low,close,volume,ema_50,ema_200,macd,macd_signal,macd_diff,rsi,bollinger_hband,bollinger_lband,mfi
0,HSV,2023-03-20 00:00,3900.0,3900.0,3600.0,3683.0,2900,3857.529445,3857.529445,-27.076678,-0.090523,-26.986155,41.638437,4108.251156,3729.748844,13.313572
1,HSV,2023-03-21 00:00,3900.0,3900.0,3600.0,3657.0,700,3849.665545,3849.665545,-41.288277,-8.330074,-32.958203,40.769994,4117.617967,3685.282033,11.44729
2,HSV,2023-03-22 00:00,3600.0,3900.0,3600.0,3760.0,1500,3846.149249,3846.149249,-43.735675,-15.411194,-28.324481,45.609676,4107.784062,3670.315938,18.483284
3,HSV,2023-03-23 00:00,3800.0,3800.0,3600.0,3709.0,1100,3840.770847,3840.770847,-49.223116,-22.173578,-27.049537,43.705409,4106.046074,3646.953926,16.952855
4,HSV,2023-03-24 00:00,3800.0,3800.0,3700.0,3775.0,400,3838.191598,3838.191598,-47.696488,-27.278160,-20.418328,46.800928,4079.517462,3644.982538,17.227938

In [80]:
df_cleaned['golden_cross'] = df_cleaned.groupby('ticker').apply(
    lambda x: ((x['ema_50'] > x['ema_200']) & (x['ema_50'].shift(1) <= x['ema_200'].shift(1))).astype(int)
).reset_index(level=0, drop=True)

df_cleaned['death_cross'] = df_cleaned.groupby('ticker').apply(
    lambda x: ((x['ema_50'] < x['ema_200']) & (x['ema_50'].shift(1) >= x['ema_200'].shift(1))).astype(int)
).reset_index(level=0, drop=True)

df_cleaned['return'] = df_cleaned.groupby('ticker')['close'].pct_change()

df_cleaned['macd_cross'] = df_cleaned.groupby('ticker').apply(
    lambda x: ((x['macd'] > x['macd_signal']) & (x['macd'].shift(1) <= x['macd_signal'].shift(1))).astype(int) -
              ((x['macd'] < x['macd_signal']) & (x['macd'].shift(1) >= x['macd_signal'].shift(1))).astype(int)
).reset_index(level=0, drop=True)

df_cleaned['bollinger_pct'] = (df_cleaned['close'] - df_cleaned['bollinger_lband']) / (df_cleaned['bollinger_hband'] - df_cleaned['bollinger_lband'])

df_cleaned['bollinger_bw'] = (df_cleaned['bollinger_hband'] - df_cleaned['bollinger_lband']) / ((df_cleaned['bollinger_hband'] + df_cleaned['bollinger_lband']) / 2)


df_cleaned.head()

,ticker,timestamp,open,high,low,close,volume,ema_50,ema_200,macd,...,rsi,bollinger_hband,bollinger_lband,mfi,golden_cross,death_cross,return,macd_cross,bollinger_pct,bollinger_bw
0,HSV,2023-03-20 00:00,3900.0,3900.0,3600.0,3683.0,2900,3857.529445,3857.529445,-27.076678,...,41.638437,4108.251156,3729.748844,13.313572,0,0,NaN,0,-0.123510,0.096581
1,HSV,2023-03-21 00:00,3900.0,3900.0,3600.0,3657.0,700,3849.665545,3849.665545,-41.288277,...,40.769994,4117.617967,3685.282033,11.44729,0,0,-0.007059,0,-0.065417,0.110814
2,HSV,2023-03-22 00:00,3600.0,3900.0,3600.0,3760.0,1500,3846.149249,3846.149249,-43.735675,...,45.609676,4107.784062,3670.315938,18.483284,0,0,0.028165,0,0.205007,0.112487
3,HSV,2023-03-23 00:00,3800.0,3800.0,3600.0,3709.0,1100,3840.770847,3840.770847,-49.223116,...,43.705409,4106.046074,3646.953926,16.952855,0,0,-0.013564,0,0.135149,0.118430
4,HSV,2023-03-24 00:00,3800.0,3800.0,3700.0,3775.0,400,3838.191598,3838.191598,-47.696488,...,46.800928,4079.517462,3644.982538,17.227938,0,0,0.017795,0,0.299211,0.112508

In [84]:
df_cleaned.dropna(inplace=True)
df_cleaned = df_cleaned.reset_index()
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30592 entries, 0 to 30591
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            30592 non-null  int64
 1   ticker           30592 non-null  object
 2   timestamp        30592 non-null  object
 3   open             30592 non-null  float64
 4   high             30592 non-null  float64
 5   low              30592 non-null  float64
 6   close            30592 non-null  float64
 7   volume           30592 non-null  int64
 8   ema_50           30592 non-null  float64
 9   ema_200          30592 non-null  float64
 10  macd             30592 non-null  float64
 11  macd_signal      30592 non-null  float64
 12  macd_diff        30592 non-null  float64
 13  rsi              30592 non-null  float64
 14  bollinger_hband  30592 non-null  float64
 15  bollinger_lband  30592 non-null  float64
 16  mfi              30592 non-null  object
 17  golden_cross     30592 non-null  int64
 18  death_cross      30592 non-null  int64
 19  return           30592 non-null  float64
 20  macd_cross       30592 non-null  int64
 21  bollinger_pct    30592 non-null  float64
 22  bollinger_bw     30592 non-null  float64
dtypes: float64(15), int64(5), object(3)
memory usage: 5.4+ MB

In [86]:
df_cleaned.columns

Index(['index', 'ticker', 'timestamp', 'open', 'high', 'low', 'close',
       'volume', 'ema_50', 'ema_200', 'macd', 'macd_signal', 'macd_diff',
       'rsi', 'bollinger_hband', 'bollinger_lband', 'mfi', 'golden_cross',
       'death_cross', 'return', 'macd_cross', 'bollinger_pct', 'bollinger_bw'],
      dtype='object')

In [88]:
df_cleaned = df_cleaned.drop("index", axis =1)

In [89]:
df_cleaned.head()

,ticker,timestamp,open,high,low,close,volume,ema_50,ema_200,macd,...,rsi,bollinger_hband,bollinger_lband,mfi,golden_cross,death_cross,return,macd_cross,bollinger_pct,bollinger_bw
0,HSV,2023-03-21 00:00,3900.0,3900.0,3600.0,3657.0,700,3849.665545,3849.665545,-41.288277,...,40.769994,4117.617967,3685.282033,11.44729,0,0,-0.007059,0,-0.065417,0.110814
1,HSV,2023-03-22 00:00,3600.0,3900.0,3600.0,3760.0,1500,3846.149249,3846.149249,-43.735675,...,45.609676,4107.784062,3670.315938,18.483284,0,0,0.028165,0,0.205007,0.112487
2,HSV,2023-03-23 00:00,3800.0,3800.0,3600.0,3709.0,1100,3840.770847,3840.770847,-49.223116,...,43.705409,4106.046074,3646.953926,16.952855,0,0,-0.013564,0,0.135149,0.118430
3,HSV,2023-03-24 00:00,3800.0,3800.0,3700.0,3775.0,400,3838.191598,3838.191598,-47.696488,...,46.800928,4079.517462,3644.982538,17.227938,0,0,0.017795,0,0.299211,0.112508
4,HSV,2023-03-27 00:00,3900.0,3900.0,3600.0,3713.0,800,3833.282124,3833.282124,-50.902732,...,44.334647,4062.834816,3631.965184,17.710754,0,0,-0.016424,0,0.188073,0.111990

In [91]:
df_cleaned.to_excel(r"cleaned data\UPCOM_cleaned.xlsx")